.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1.5rem;
  top: 1.5rem;
  color: #555;
}

.bm-burger-bars {
  background: #555;
}

.bm-burger-bars-hover {
  background: #ffa500;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ffa500;
}

.bm-cross-button:hover .bm-cross {
  background: #000;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #555;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item-list a {
  color: #ffa500;
}

.bm-item.active a,
.bm-item-list a:hover {
  color: #000;
}

.bm-item-list i {
  margin-right: 5px;
}

.bm-item {
  display: inline-block;
  margin: 0.5rem 0;
  outline: none;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
